.input {
  width: 938px;
  height: 40px;
  border: solid #d9d9d9;
  border-radius: 5px;
}

.input:hover {
  border-color: #94cafc;
}

.input:focus-visible {
  border-color: #1890ff;
}

form:focus-visible {
  border-color: #1890ff;
}

@media screen and (max-width: 420px) {
  .input {
    width: 388px;
  }
}
