.rate {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  align-content: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66e900;
}

.rate.low {
  border-color: #e9d100;
}
.rate.very-low {
  border-color: #e97e00;
}
.rate.minimal {
  border-color: #e90000;
}
