.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  list-style: none;
  margin-top: 40px;
}

.movieList > li {
  box-shadow: 3px 3px 3px gray;
  margin-bottom: 40px;
}

.cardWrapper {
  width: 938px;
}
